@keyframes fadeInAnim {
  0% {
    transform: translateY(20px);
    visibility: hidden;
  }
  100% {
    transform: translateY(0);
    visibility: visible;
  }
}

.detail {
  width: calc(100% - 4rem);
  max-width: 600px;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-left: auto;
  background-color: white;
  border-top: 5px solid var(--highlight);
  animation: fadeInAnim 300ms 200ms ease-out both;
}

.detail main {
  padding: 1rem;
}

.detail main a {
  border-bottom: 1px solid;
  transition: border 300ms ease-out;
}

.detail main a:hover {
  border-color: var(--highlight);
}

.detail footer {
  text-align: right;
}

.detail footer a {
  display: inline-block;
  padding: 12px 18px;
  font-weight: 600;
  background-color: var(--highlight);
  transition: background 300ms ease-out, color 300ms ease-out;
}

.detail footer a:hover {
  color: white;
  background-color: black;
}

.detail aside img {
  max-width: 100%;
}

.detailTitle {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.detailTitle h1 {
  margin: 0 0 8px;
  font-family: 'Arvo', serif;
  font-size: 1.5rem;
}

.detailTitle p {
  margin: 0;
  font-style: italic;
}

@media screen and (min-width: 1024px) {

  .detail {
    display: flex;
    max-width: 800px;
    border-top: none;
    border-left: 5px solid var(--highlight);
    flex-flow: row-reverse;
    flex-wrap: nowrap;
    align-items: center;
  }

  .detailTitle h1 {
    font-size: 2rem;
  }

  .detailTitle p {
    font-size: 1.2rem;
  }

  .detailImage,
  .detailMain  {
    width: 50%;
  }

  .detailMain {
    padding-right: 1rem;
  }

  .detailImage {
    font-size: 0;
  }

  .detail footer {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
