.header {
  display: flex;
  padding: 2rem;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Arvo', serif;
  font-size: 32px;
  font-weight: 700;
  align-items: center;
}

.header span {
  position: relative;
  padding-right: 1rem;
  line-height: 1;
}

.header span::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  right: 0;
  bottom: 3px;
  margin-left: 4px;
  background-color: var(--highlight);
  border-radius: 100%;
}
